<script>
    $("#btnsave").click(function(){
        console.log("save button clicked");
    let nm = $("#nameid").val()
    let em = $("#emailid").val()
    let dob = $("#dobid").val()
    let city = $("#cityid").val()
    let pas = $("#passwordid").val()
    if(nm=="")
    {
        console.log("Please Enter Name")
    }
    else if(em=="")
    {
        console.log("Please Enter Name")
    }
    else if(dob=="")
    {
        console.log("Please Enter Name")
    }
    else if(city=="")
    {
        console.log("Please Enter Name")
    }
    else if(pas=="")
    {
        console.log("Please Enter Name")
    }
    else{
        mydata = {name:nm,email:em,password:pas,Dob:dob,city:city}
        $.ajax({
            url:"{%url 'save' %}",
            method:"POST",
            data : mydata,
            success:function(data){
                console.log(data);
            },


        })
    }
    /*console.log(nm);
    console.log(em);
    console.log(dob);
    console.log(city);
    console.log(pas);
    */ 

    });
    
</script>