{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <title> Home </title>
        <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/poper.js' %}"></script>
    </head>
    <body>
        <div class="container mt-5">
            <h2 class="text-center alert-danger"> Student Panel </h2>
        </div>
        {% block indexblock %}
        {% endblock %}
    </body>
</html>
