{%extends 'Base.html'%}
{% load static %}
{% block indexblock %}

<div class="row">
    <div class='col-sm-4'>       
 
        <div class="container mt-5">
             <h2 class="text-left alert alert-info"> Fill Record </h2>
        </div>
        <form method="post">      
            {%csrf_token%}
            {{form.as_p}}

            <input type="submit" value="Insert" class="btn btn-success" id="btnsave">
        </form>
    </div>
    <div class="col-sm-7">
        <div class="container mt-5">
            <h2 class="text-left alert alert-info"> Student Details </h2>
       </div>
       <table class="table table-hover">
           <thead>
               <tr>
                    <th scope="col"> No. </th>
                   <th scope="col"> Name </th>
                   <th scope="col"> Email </th>
                   <th scope="col"> DOB </th>
                   <th scope="col"> City </th>
                   <th scope="col"> Password </th>
                   <th scope="col"> Action </th>
               </tr>
           </thead>
           <tbody id="thbody"> 
               {% for st in stud %}
               <tr>
                    <td> {{st.no}}</td>
                   <td> {{st.name}}</td>
                   <td> {{st.email}}</td>
                   <td> {{st.Dob}}</td>
                   <td> {{st.city}}</td>
                   <td> {{st.password}}</td>
                   <td>
                       <input type="button" data-sid="{{st.no}}" 
                       class="btn btn-warning btn-sm btn-edit" value="Edit">
                       <input type="button" data-sid="{{st.no}}" 
                       class="btn btn-danger btn-sm btn-del" value="Delete">
                   </td>
               </tr>
               {% endfor %}
           </tbody>
       </table>


    </div>
</div>
{% include "ajaxfile.html" %}

{% endblock %}